* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

@mixin transition() {
  transition: all 100ms ease;
}
::placeholder {
  color: var(--secondary-text-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-text-color);
}
