@import '../global.scss';

.App {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    height: calc(100vh - 40px);
    transition: all .5s;
}

button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
    height: 56px;
    margin: 0 20px;
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px solid var(--accent);
    outline: none;
    cursor: pointer;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

[data-theme='blue'] {
    img {
        border-radius: 50%;
    }
}