@import "../global.scss";

.checkboxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:18px;
    cursor: pointer;
    .checkbox{
        width:18px;
        height:18px;
        border-radius: 5px;
        background-color: var(--main-bg-color);
    }
    .checkboxChecked{
        background-color: var(--dark-main-color);
    }
}
