@import "../global.scss";

.itemInfoContainer {
  display: flex;
  align-items: center;
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    & > p {
      &:nth-child(1) {
        font-size: 16px;
        color: var(--main-text-color);
        line-height: 15px;
        margin-bottom: 12px;
        text-transform: capitalize;
      }
      &:nth-child(2) {
        font-size: 14px;
        color: var(--icon-color);
        line-height: 19px;
        text-transform: none;
      }
    }
  }
}
